$bg-light: #daf0fb;
$bg-dark: #031926;

$text-light: $bg-dark;
$text-dark: $bg-light;

$highlight: #2bf38b;

$icon-light: $bg-dark;
$icon-dark: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lunasima", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-height: 100dvh;
  margin: 0;
  background: var(--three);
  --text-shadow: 7px 7px #57ddf8, 14px 14px #8fe8fa;
  --one: #ffffff;
  --two: #808080;
  --three: #031926;
  --four: #8fe8fa;
  --five: #171717;
  --six: #2bf38b;
  --h1: clamp(1.25rem, 3vw + 1rem, 3rem);
  --h2: clamp(1rem, 1.5vw + 0.75rem, 2rem);
  --h3: clamp(0.75rem, 1vw + 0.5rem, 1.25rem);
  --text: clamp(0.75rem, 1vw + 0.25rem, 1rem);
  --icon-l: 50px;
  --icon-s: 30px;
  --hero: clamp(100px, 200px, 300px);
}

.theme-light {
  background-color: $bg-light;
  p {
    color: $text-light;
  }
}

.theme-dark {
  background-color: $bg-dark;
  p {
    color: $text-dark;
  }
}

#error-page {
  padding: 0;
  margin: 0;
  height: 100dvh;
  background-color: var(--four);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App {
  min-height: 100dvh;
  text-align: center;
  width: 90vw;
  margin: 0;
  padding: 0;
}

.layout {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  min-height: 5dvh;
  padding-top: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.content {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

.benjamin-logo {
  height: 4rem;
}

.header-title {
  color: var(--six);
}

.header-links {
  gap: 3rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-family: "Lunasima", sans-serif;
}

.header-links-link {
  color: var(--six);
  text-decoration: none;
  font-size: var(--h3);
}

.header-links-link:hover {
  color: var(--four);
}

.header-links-link:active {
  color: var(--four);
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

.page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;
}

.page-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 4rem;
}

.page-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.page-text {
  color: var(--one);
  font-size: var(--text);
  text-align: left;
}

.home-page-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle-image__img {
  height: var(--hero);
  width: var(--hero);
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid var(--one);
  filter: drop-shadow(0px 0px 5px var(--one));
}

.home-title-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2rem;
}

.title {
  padding: 0;
  margin: 0;
  font-size: var(--h3);
  color: var(--four);
  font-family: "Lunasima", sans-serif;
}

.title-name {
  color: var(--six);
  font-size: larger;
  filter: drop-shadow(0px 0px 20px black);
}

.title-strong {
  color: var(--one);
}

.home-intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Lunasima", sans-serif;
}

.text {
  margin: 0;
  font-size: var(--text);
  color: var(--one);
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  line-height: 1.75;
  font-family: "Lunasima", sans-serif;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.react {
  color: var(--four);
  font-size: x-large;
}

.benjamin {
  color: var(--six);
}

.strong {
  font-size: var(--h2);
}

.tech-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 16px;
}

.tech-list:hover {
  box-shadow: #2bf38b 0px 0px 10px;
}

.tech-logos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: var(--h3);
  gap: 2rem;
}

.tech-stack-title {
  color: var(--six);
  text-align: left;
}

.tech-stack-text {
  color: var(--one);
}

.tech-stack-text:link {
  text-decoration: none;
}

.tech-stack-item {
  position: relative;
}

.tech-stack-item-is-learning {
  opacity: 75%;
  filter: grayscale(100%);
}

.tech-stack-item-is-learning:hover {
  opacity: 100%;
  filter: grayscale(0%);
  transition: all 0.5s;
}

.tech-stack-logo {
  height: 30px;
  width: auto;
  transition: all 0.5s;
}

.tech-stack-logo:hover,
.tech-stack-logo:focus {
  filter: drop-shadow(0px 0px 2px var(--four));
}

.tech-stack-name {
  position: absolute;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.5s;
  color: var(--one);
  font-size: var(--text);
  text-align: center;
  transition: all 0.5s;
  filter: drop-shadow(none);
  white-space: nowrap;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to center */
}

.tech-stack-isLearning {
  position: absolute;
  top: -20px;
  color: var(--one);
  font-size: var(--text);
  text-align: center;
  filter: drop-shadow(none);
  white-space: nowrap;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to center */
}

.tech-stack-item:hover .tech-stack-name {
  opacity: 1;
}

.tech-stack-item:hover .tech-stack-logo {
  scale: 1.25;
}

.home-caption {
  color: var(--one);
  text-align: right;
  width: 100%;
}

.home-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.home-call {
  padding: clamp(2px, 10px, 20px);
  width: 150px;
  font-family: "Lunasima", sans-serif;
  color: var(--five);
  border: none;
  border-radius: 16px;
  background-color: var(--four);
  font-size: var(--h3);
  transition: all 0.5s;
}

.home-call:hover {
  background-color: var(--six);
  color: var(--five);
  filter: drop-shadow(0px 0px 10px var(--one));
  font-weight: bold;
}

.home-call-link {
  text-decoration: none;
}

.home-call-link:hover {
  color: var(--two);
  transform: scale(1.1);
  transition-duration: 500ms;
}

.react-logo {
  animation: rotate 10s linear infinite;
}

.about-list {
  height: 100%;
  list-style-type: none;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10vh;
}

.about-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 2rem;
  overflow-x: hidden;
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6rem;
}

.section-heading {
  color: var(--one);
  font-size: var(--h2);
  font-family: "Lunasima", sans-serif;
  text-align: left;
}

.section-hr {
  width: 100%;
  border: 1px solid var(--six);
  box-shadow: 0px 0px 10px var(--six);
}

.sub-heading {
  color: var(--six);
  font-size: var(--h3);
  font-family: "Lunasima", sans-serif;
}

.project-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 5rem;
  column-gap: 2rem;
}

.project-card {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  flex-grow: 1;
  padding: 10px;
  border-radius: 16px;
  max-width: 39vw;
  height: fit-content;
}

.project-card:hover {
  box-shadow: #2bf38b 0px 0px 10px;
}

.project-card-header {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: flex-start;
  align-items: center;
}

.project-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

// .project-filter {
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   align-items: center;
//   color: var(--one);
//   gap: 2rem;
//   background: var(--five);
//   padding: 2em;
//   border-radius: 16px;
// }

.project-status {
  font-size: var(--text);
  color: var(--one);
}

.project-status-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.tech-checkbox-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  list-style-type: none;
}

.tech-checkbox-item {
  color: var(--one);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
}

.tech-checkbox-label {
  display: none;
}

.icon-button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: var(--four);
  height: 30px;
  width: 30px;
}

.icon-button:hover {
  color: var(--six);
}

.icon-button-disabled {
  color: var(--two);
  opacity: 0.5;
  cursor: not-allowed;
}

.icon-button-disabled:hover {
  color: var(--two);
}

.icon-button p {
  display: none;
}

.project-info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.project-description {
  color: var(--one);
  font-size: var(--text);
  text-align: left;
}

.project-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.project-link {
  text-decoration: none;
  text-align: left;
  transition: all 0.5s;
}

.project-logo {
  height: var(--icon-l);
  width: var(--icon-l);
  border-radius: 8px;
  height: 30px;
  width: auto;
  transition: all 0.5s;
}

.site-logo:hover {
  scale: 1.1;
  filter: drop-shadow(0px 0px 10px var(--six));
}

.site-image-wrapper {
  width: 90%;
  height: 200px;
  overflow: auto;

  border-radius: 16px;
  box-shadow: 0px 0px 30px black;
}

.site-image {
  width: 100%;
  object-fit: cover;
  border-radius: 16px;
  transition: all 0.5s;
  opacity: 0.5;
}

.site-image:hover {
  opacity: 1;
}

.site-description {
  color: white;
  font-size: var(--text);
  text-align: left;
}

.site-text {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.project-tech-stack {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: var(--one);
  gap: 2rem;
  list-style-type: none;
}

.project-tech {
  list-style-type: none;
}

.break {
  color: var(--six);
  width: 500px;
}

.tab-navigator {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 2rem;
}

.tab-navigator-button {
  background: none;
  padding: 0;
  border: none;
  color: var(--one);
  font-size: var(--h2);
  font-family: "Lunasima", sans-serif;
  text-align: left;
  font-weight: bold;
}

.tab-navigator-button-active {
  color: var(--six);
}

.tab-navigator-button:hover {
  color: var(--four);
}

.certification-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}

.certification-card {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 1rem;
  color: white;
  text-align: left;
}

.certification-card-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.certification-card-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.certification-card-logo {
  height: auto;
  width: 50px;
}

.certification-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.certs {
  width: 100%;
}

.cert {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cert-link {
  text-decoration: none;
  transition: all 0.5s;
  opacity: 0.5;
}

.cert-link:hover {
  scale: 1.1;
  opacity: 1;
}

.cert-image {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.cert-image:hover {
  opacity: 1;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.control-dots {
  width: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.control-dot {
  font-size: 20pt;
}

.control-dot::marker {
  content: "";
}

.control-dot-button {
  height: 50px;
  background: none;
  border: none;
  font-size: 10pt;
  transition: all 0.5s;
}

.control-dot-button:hover {
  scale: 1.5;
}

.selected-dot {
  scale: 1.5;
}

.carousel-button {
  height: 200px;
  background: none;
  border: none;
  font-size: 25pt;
  transition: all 0.5s;
  visibility: visible;
}

.carousel-button-hidden {
  visibility: hidden;
}

.carousel-button:hover {
  scale: 1.5;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: nowrap;
}

.contact-title {
  align-self: center;
  justify-self: center;
  color: var(--six);
  font-size: var(--h2);
}

.contact-links {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.contact-link {
  text-decoration: none;
  color: var(--two);
}

.contact-icon {
  height: 5vh;
  width: 5vw;
  padding: 0;
  margin: 0;
}

.contact-lower {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.contact-text {
  text-align: left;
  color: white;
  font-size: var(--text);
}

.contact-emoji {
  margin: 0;
  padding: 0;
  font-size: var(--h1);
}

.footer {
  min-height: 5dvh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 1rem;
  justify-self: flex-end;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.footer-text {
  color: var(--six);
  font-size: var(--text);
}

@media (min-width: 700px) {
  .App {
    max-width: 90dvw;
  }
  .header {
    flex-direction: row;
  }
  .home {
    row-gap: 5rem;
  }
  .upper,
  .about-content,
  .contact-upper {
    flex-direction: row;
  }

  .home-title-wrapper {
    flex-direction: column;
  }
  .title {
    font-size: var(--h1);
  }
  .hero-image {
    margin-right: 1rem;
  }
  .hobbies-emoji,
  .skill-emoji {
    font-size: var(--icon-l);
  }
  .home-logo,
  .skill-image {
    height: var(--icon-l);
    width: var(--icon-l);
  }
  .cert {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .cert-image {
    height: 400px;
    width: auto;
    object-fit: cover;
  }
  .contact-links {
    width: 50%;
  }

  @media (min-width: 1400px) {
    .App {
      max-width: 85dvw;
    }
  }

  @media (min-width: 1700px) {
    .App {
      max-width: 80dvw;
    }
  }
}
