

body {
  padding: 0;
  margin: 0;
}

.root {
  padding: 0;
  margin: 0;
  overflow: scroll;
  background: linear-gradient(to top, var(--two), var(--one));
  --text-shadow: 7px 7px var(--four), 14px 14px var(--five);
  --one: #264653;
  --two: #2a9d8f;
  --three: #e9c46a;
  --four: #f4a261;
  --five: #e76f51;
  --h1: clamp(1rem, 4vw + 1rem, 4rem);
  --h2: clamp(0.5rem, 1.5vw + 0.75rem, 2.5rem);
  --h3: clamp(0.5rem, 1vw + 0.5rem, rem);
  --text: clamp(0.5rem, 1vw + 0.25rem, 1rem);
  --icon-l: 50px;
  --icon-s: 30px;
}

#error-page {
  padding: 0;
  margin: 0;
  height: 100svh;
  background-color: var(--four);
  font-family: 'Reem Kufi Ink', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.content {
  margin: 0;
  width: 100%;
}

.content-grid {
  height: 80vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1vw;
  row-gap: 2vw;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links {
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-family: 'Reem Kufi Ink', sans-serif;
}

.header-links-link {
  color: var(--four);
  text-decoration: none;
  font-size: var(--h3);
}

.header-links-link:hover {
  color: var(--three);
}

.header-links-link:active {
  color: var(--four);
}

.home {
  width: 100%;
}

.content-home {
  color: white;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

.home-upper {
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.home-lower {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-hero {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, var(--four), var(--five));
}

.home-title-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 30px 0px;
}

.home-title {
  padding: 0;
  margin: 0;
  font-size: var(--h1);
  text-shadow: var(--text-shadow);
}

.home-intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Lunasima', sans-serif;
}

.intro-first {
  margin: 0;
  color: var(--three);
  font-size: var(--h2);
}

.intro-second {
  margin: 0;
  font-size: var(--h3);
}

.intro-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--h3);
}

.home-call {
  padding: clamp(2px, 10px, 20px);
  font-family: 'Lunasima', sans-serif;
  color: white;
  border: none;
  border-radius: 16px;
  background-image: linear-gradient(to left, var(--four), var(--five));
  font-weight: bold;
  font-size: var(--h3);
}

.home-call-link {
  text-decoration: none;
}

.home-call-link:hover {
  color: var(--two);
  transform: scale(1.1);
  transition-duration: 500ms;
}

.home-logo {
  height: var(--icon-s);
  width: var(--icon-s);
}

.about {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.about-hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-history {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about-hero {
  width: clamp(200px, 30vw, 600px);
  object-fit: cover;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, var(--four), var(--five));
}

.hobbies-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.hobby-wrapper {
  width: 150px;
}

.hobbies-title {
  color: var(--four);
}

.hobbies-emoji {
  font-size: var(--icon-s);
  padding: 0;
  margin: 0;
}

.hobbies-text {
  flex-wrap: nowrap;
  font-size: var(--text);
}

.history-title {
  color: var(--four);
}

.history-ul {
  line-height: 3vw;
  text-align: left;
  font-family: 'Lunasima', sans-serif;
  list-style: symbols(cyclic "✅"); 
}

.history-li {
  font-size: var(--text);
}

.skills {
  font-family: 'Lunasima', sans-serif;
  width: 100%;
}

.skills-content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.skills-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.social-skills {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.technical-skills {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
  width: 80px;
}

.skills-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-title {
  color: var(--four);
  padding: 0;
  margin: 0;
  font-size: var(--h2);
  text-transform: uppercase;
  padding-bottom: 5vw;
}

.skill-image {
  height: var(--icon-s);
  width: var(--icon-s);
}

.skill-emoji {
  font-size: var(--icon-s);
  padding: 0;
  margin: 0;
}

.skill-text {
  color: white;
  font-size: var(--text);
}

.portfolio {
  padding: 0;
  margin: 0;
}

.portfolio-section {
  padding: 0;
  margin: 0;
}

.section-title {
  color: var(--four);
  text-transform: uppercase;
  font-size: var(--h2);
}

.site {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.site-name {
  color: var(--five);
  font-weight: bold;
  font-size: var(--text);
}

.site-logo {
  height: 50px;
  width: 50px;
}

.site-description {
  color: white;
  width: 80%;
  font-size: var(--text);
}

.contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-upper {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: nowrap;
}

.contact-lower {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.contact-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.contact-title {
  align-self: center;
  justify-self: center;
  color: var(--four);
  font-size: var(--h2)
}

.contact-icon {
  height: 5vh;
  width: 5vw;
  padding: 0;
  margin: 0;
}

.contact-link {
  text-decoration: none;
  color: var(--two);
}

.contact-text {
  text-align: left;
  color: white;
  font-size: var(--text);
}

.contact-emoji {
  margin: 0;
  padding: 0;
  font-size: var(--h1)
}

.footer {
  height: 10vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: var(--four);
  font-size: var(--text);
}

@media (min-width: 700px) {
  .content {
    height: 80vh;
    width: 70vw;
    padding: 0 15vw 0 15vw;
  }
  .home-upper, .about-content, .contact-upper {
    flex-direction: row;
  }
  .about-content {
    width: 100%;
  }
  .about-left, .about-right {
    width: 50%;
    height: 80vh;
  }
  .skills {
    width: 70vw;
  }
  .portfolio {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .portfolio-section {
    padding: 0;
    margin: 0;
  }
  .hobbies-emoji, .skill-emoji {
    font-size: var(--icon-l)
  }
  .home-logo, .skill-image  {
    height: var(--icon-l);
    width: var(--icon-l);
  }
  .site {
    justify-self: center;
    padding: 0 5vw 0 5vw;
    display: grid;
    grid-template-columns: 8% 18% 74%;
    justify-items: start;
    align-items: center;
    text-align: left;
  }
  .site-logo {
    height: 50px;
    width: 50px;
  }
  .site-link {
    justify-self: center;
  }
  .contact-links {
    width: 50%;
  }
}