* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-height: 100%;
  padding: 0;
  margin: 0;

}

body {
  padding: 0;
  margin: 0;
}

.root {
  padding: 0;
  min-height: 100dvh;
  margin: 0;
  background: var(--three);
  --text-shadow: 7px 7px #57DDF8, 14px 14px #8FE8FA;
  --one: #ffffff;
  --two: #808080;
  --three: #031926;
  --four: #8FE8FA;
  --five: #171717;
  --six: #2BF38B;
  --h1: clamp(1.25rem, 3vw + 1rem, 3rem);
  --h2: clamp(1rem, 1.5vw + 0.75rem, 2rem);
  --h3: clamp(0.75rem, 1vw + 0.5rem, 1.25rem);
  --text: clamp(0.75rem, 1vw + 0.25rem, 1rem);
  --icon-l: 50px;
  --icon-s: 30px;
  --hero: clamp(100px, 200px, 300px)
}

#error-page {
  padding: 0;
  margin: 0;
  height: 100dvh;
  background-color: var(--four);
  font-family: 'Reem Kufi Ink', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App {
  min-height: 100dvh;
  text-align: center;
  max-width: 90dvw;
  margin: 0 auto;
  padding: 0;
}

.layout {
  min-height: 100dvh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  gap: 5dvh;
}

.header {
  min-height: 5dvh;
  padding-top: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.content {
  height: 75dvh;
  overflow: scroll;
  flex-grow: 1;
  display: flex;
  scrollbar-color: var(--six) var(--five);
  scrollbar-width:auto;
}

.header-title {
  color: var(--six);
}

.header-links {
  gap: 3rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-family: 'Reem Kufi Ink', sans-serif;
}

.header-links-link {
  color: var(--four);
  text-decoration: none;
  font-size: var(--h3);
}

.header-links-link:hover {
  color: var(--one);
}

.header-links-link:active {
  color: var(--five);
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
}

.home-upper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}

.home-lower {
  display: flex;
  text-align: ;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 3rem;
}


.home-lower-lower {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(40deg)
  }
}

.hero-image {
  height: var(--hero);
  width: var(--hero);
  border-radius: 16px;
  object-fit: cover;
  border: 10px solid var(--six);
  filter: drop-shadow(0px 0px 10px var(--six));
}

.home-title-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 2rem;
}

.home-title {
  padding: 0;
  margin: 0;
  font-size: var(--h2);
  color: var(--six);
}

.home-intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Lunasima', sans-serif;
}

.wave {
  font-size: 4rem;
  padding: 0;
  margin: 0;
  animation: wave 1s linear infinite alternate;
}

.text {
  margin: 0;
  font-size: var(--text);
  color: var(--one);
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  line-height: 1.75;
}

.intro::before {
  content: '👋🏽 \A';
  font-size: clamp(10px, 20px, 50px);
  white-space: pre;
}

.react {
  color: var(--four);
  font-size: x-large;
}

.benjamin {
  color: var(--six);
  font-size: x-large;
}

.strong {
  font-size: var(--h3);
}

.tech-stack {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.tech-logos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  font-size: var(--h3);
  gap: 2rem;
}

.tech-stack-title {
  color: var(--six);
  text-align: left;
}

.tech-stack-text {
  color: var(--one);
}

.tech-stack-text:link {
  text-decoration: none;
}

.tech-stack-logo {
  height: var(--icon-s);
  width: var(--icon-s);
  transition: all 0.5s;
}

.tech-stack-logo:hover, .tech-stack-logo:focus {
  scale: 2;
  filter: drop-shadow(0px 0px 10px var(--six));
}

.home-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.home-call {
  padding: clamp(2px, 10px, 20px);
  width: 150px;
  font-family: 'Lunasima', sans-serif;
  color: var(--five);
  border: none;
  border-radius: 16px;
  background-color: var(--four);
  font-size: var(--h3);
  transition: all 0.5s;
}

.home-call:hover {
  background-color: var(--six);
  color: var(--five);
  filter: drop-shadow(0px 0px 10px var(--one));
  font-weight: bold;
}

.home-call-link {
  text-decoration: none;
}

.home-call-link:hover {
  color: var(--two);
  transform: scale(1.1);
  transition-duration: 500ms;
}

.react-logo {
  animation: rotate 10s linear infinite;
}

.about {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 2rem;
}


.about-coaching {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.about-coding {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.about-benjamin {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.75;
  text-align: left;
}

.about-hobbies {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  flex-wrap: wrap;
  gap: 2rem;
}

.coaching-image {
  width: 50%;
}

.coding-image {
  width: 50%;
}

.about-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 5px solid var(--one);
}

.coaching-skills {
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: stretch;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;;
}

.skill-icon {
  font-size: clamp(25px, 35px, 50px);
  filter: drop-shadow(0px 0px 10px var(--one));
}

.skill-text {
  font-size: var(--text);
  color:var(--one);
  font-weight:bold;
  filter: drop-shadow(0px 0px 10px var(--three));
}

.hobbies-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.hobbies-title {
  color: var(--six);
}

.hobbies-emoji {
  font-size: var(--icon-s);
}

.hobbies-text {
  flex-wrap: nowrap;
  font-size: var(--text);
}

.history-title {
  color: var(--six);
}

.history-ul {
  line-height: 3vw;
  text-align: left;
  font-family: 'Lunasima', sans-serif;
  list-style: symbols(cyclic "✅");
}

.history-li {
  font-size: var(--text);
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 2rem;
}

.portfolio-section {
  display:flex;
  flex-direction: column;
  gap: 2.5rem;
}

.section-title {
  color: var(--six);
  text-align: left;
}

.site {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 2rem;
}

.site-images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.site-name {
  color: var(--four);
  font-weight: bold;
  font-size: var(--text);
  align-self: flex-start;
  transition: all 0.5s;
}

.site-name:hover {
  scale: 1.1;
  color: var(--six)
}

.site-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
}

.site-link {
  text-decoration: none;
  text-align: left;
  transition: all 0.5s;
}


.site-logo {
  height: var(--icon-l);
  width: var(--icon-l);
  background: white;
  border-radius: 16px;
  padding: 10px;
  transition: all 0.5s;
}

.site-logo:hover {
  scale: 1.1;
  filter: drop-shadow(0px 0px 10px var(--six))
}

.site-image {
  height: clamp(100px, 125px, 200px);
  width: clamp(150px, 200px, 250px);
  object-fit: cover;
  border-radius: 16px;
  transition: all 0.5s;
}

.site-image:hover {
  scale: 1.5;
}

.site-description {
  color: white;
  font-size: var(--text);
  text-align: left;
}

.break {
  color: var(--six);
  width: 500px;
}

.certs {
  width: 100%;
}

.cert {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cert-link {
  text-decoration: none;
  transition: all 0.5s;
  opacity: 0.5;
}

.cert-link:hover {
  scale: 1.1;
  opacity: 1;
}

.cert-image {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.cert-image:hover {
  opacity: 1;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.control-dots {
  width: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.control-dot {
  font-size: 20pt;
}

.control-dot::marker {
  content: ''
}

.control-dot-button {
  height: 50px;
  background: none;
  border: none;
  font-size: 10pt;
  transition: all 0.5s;
}

.control-dot-button:hover {
  scale: 1.5;
}

.selected-dot {
  scale: 1.5;
}

.carousel-button {
  height: 200px;
  background: none;
  border: none;
  font-size: 25pt;
  transition: all 0.5s;
  visibility: visible;
}

.carousel-button-hidden {
  visibility: hidden;
}

.carousel-button:hover {
  scale: 1.5;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  flex-wrap: nowrap;
}

.contact-title {
  align-self: center;
  justify-self: center;
  color: var(--six);
  font-size: var(--h2)
}

.contact-links {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.contact-link {
  text-decoration: none;
  color: var(--two);
}

.contact-icon {
  height: 5vh;
  width: 5vw;
  padding: 0;
  margin: 0;
}

.contact-lower {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.contact-text {
  text-align: left;
  color: white;
  font-size: var(--text);
}

.contact-emoji {
  margin: 0;
  padding: 0;
  font-size: var(--h1)
}

.footer {
  min-height: 5dvh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 1rem;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.footer-text {
  color: var(--six);
  font-size: var(--text);
}

@media (min-width: 700px) {
  .App {
    max-width: 80dvw;
  }
  .header {
    flex-direction: row;
  }
  .home-upper, .about-content, .contact-upper {
    flex-direction: row;
  }
  .home-title-wrapper {
    flex-direction: column;
  }
  .home-title {
    font-size: var(--h1);
  }
  .hero-image {
    margin-right: 1rem;
  }
  .hobbies-emoji, .skill-emoji {
    font-size: var(--icon-l)
  }
  .home-logo, .skill-image  {
    height: var(--icon-l);
    width: var(--icon-l);
  }
  .cert {
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .cert-image {
    height: 400px;
    width: auto;
    object-fit: cover;
  }
  .contact-links {
    width: 50%;
  }

  @media (min-width: 1400px) {
    .App {
      max-width: 60dvw;
    }

  }

  @media (min-width: 1700px) {
    .App {
      max-width: 40dvw;
    }

  }
}