body {
  padding: 0;
  margin: 0;
}

.root {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  
  background: linear-gradient(var(--two), var(--one));
  --text-shadow: 1vw 0.5vw var(--five), 2vw 1vw var(--four);
  --one: #ccd5ae;
  --two: #e9edc9;
  --three: #fefae0;
  --four: #faedcd;
  --five: #d4a373;
}

#error-page {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--four);
  font-family: 'Reem Kufi Ink', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.home {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.home-upper {
  width: 80vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.home-lower {
  width: 80vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-hero {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, var(--four), var(--five));
}

.home-title-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: start;
}

.home-title {
  padding: 0;
  margin: 0;
  font-size: 5vw;
  text-shadow: var(--text-shadow);
}

.home-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Lunasima', sans-serif;
}

.home-intro-top {
  color: var(--four);
}

.home-call {
  padding: 10px;
  margin: 0;
  font-family: 'Lunasima', sans-serif;
  color: white;
  border: none;
  border-radius: 16px;
  background-image: linear-gradient(to left, var(--four), var(--five));
  font-weight: bold;
}

.home-call-link {
  color: white;
  text-decoration: none;
}

.home-call-link:hover {
  color: var(--two);
  transform: scale(1.1);
  transition-duration: 500ms;
}

.home-logo {
  height: 50px;
  width: 50px;
}

.about {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-upper {
  width: 80vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.about-lower {
  width: 80vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.about-lower-half {
  width: 40vw;
  height: 40vh;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.about-hero {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, var(--four), var(--five));
}

.hobby-wrapper {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.hobbies-image {
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.hobbies-text {
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

.history-ul {
  line-height: 4vw;
  text-align: left;
  font-family: 'Lunasima', sans-serif;
  list-style: symbols(cyclic "✅"); 
}

.history-li {
  list-style-type:symbols();
}

.contact {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.contact-half {
  height: 80vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  text-align: left;
}

.contact-links {
  width: 25vw;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  
}

.contact-line {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.contact-title {
  color: white;
  font-size: 3vw;
  padding: 0;
  margin: 0;
  text-shadow: var(--text-shadow)
}

.contact-icon {
  height: 5vh;
  width: 5vw;
  padding: 0;
  margin: 0;
}

.contact-link {
  text-decoration: none;
  color: var(--two);
}

.contact-text {
  text-align: left;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links {
  width: 100vw;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-family: 'Reem Kufi Ink', sans-serif;
}

.header-links-link {
  color: var(--four);
  text-decoration: none;
}

.header-links-link:hover {
  color: var(--three);
}

.header-links-link:active {
  color: var(--four);
}

.content {
  width: 100vw;
  height: 80vh;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.content-grid {
  height: 80vh;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1vw;
  row-gap: 2vw;
}

.skills {
  font-family: 'Lunasima', sans-serif;
}

.skills-half {
  width: 80vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.social-skills {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.technical-skills {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
}

.skills-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-title {
  color: white;
  text-shadow: var(--text-shadow);
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.skill-image {
  height: 50px;
  width: 50px;
}

.skill-emoji {
  font-size: 50px;
  padding: 0;
  margin: 0;
}

.skill-text {
  color: white;
  font-size: 1.3vw;
}

.portfolio {
  height: 80vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.portfolio-section {
  width: 80vw;
  display: row;
  align-items: center;
  justify-content: space-around;
}

.section-title {
  color: white;
  text-shadow: var(--text-shadow);
  text-align: left;
  text-transform: uppercase;
}

.site {
  width: 80vw;
  display: grid;
  grid-template-columns: 0.25fr 0.5fr 2fr;
  justify-items: start;
  align-items: center;
}

.site-name {
  color: var(--four);
  font-weight: 500;
}

.site-logo {
  height: 50px;
  width: 50px;
}

.site-description {
  color: white;
}

.footer {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-text {
  text-decoration: none;
  color: white;
}

.footer-logo {
  height: 5vh;
  width: 5vw;
  color: white;
}